@page "/mod/configure"
@using Flagrum.Core.Archive
@using Flagrum.Core.Utilities
@using Flagrum.Gfxbin.Btex
@using Flagrum.Web.Components.Controls.Data
@using System.IO

@inject NavigationManager Navigation
@inject JSInterop Interop
@inject Settings Settings
@inject AppStateService AppState

<LoadingView Text="@LoadingText"
             IsLoading="@IsLoading">
    <div class="p-6">

        <div class="box row p-4">
            <span class="flex-grow">@Mod.GameMenuTitle</span>
            <Button Icon="save" Text="Save" OnClick="Save" IsDisabled="@(!HasModelData || StatsTotal > 100)"/>
            <Button Icon="cancel" Text="Cancel" CssClass="ml-3" OnClick="Cancel"/>
        </div>

        @if (!HasModelData)
        {
            <div class="box row p-4 mt-6">
                <span class="flex-grow">
                    Select FMD file with your model data
                </span>
                <BrowseButton Icon="folder"
                              Text="Browse"
                              AllowedExtensions=".fmd"
                              OnFileSelected="OnModelSelected"
                              BeforeFileLoaded="@(() => SetLoading("Loading Data"))"/>
            </div>
        }
        else
        {
            <div class="box row p-5 mt-6">
                @if (PreviewBase64 != null)
                {
                    <img style="display:block;width:150px;height:150px;" src="images/@(ImageName).png"/>
                }
                <div class="flex-grow pl-6">
                    <table>
                        <tr>
                            <td class="pb-1">UUID:</td>
                            <td class="pb-1 pl-3">
                                <strong>@Mod.Uuid</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="pb-1">Mod Directory:</td>
                            <td class="pb-1 pl-3">
                                <strong>@($"data://mod/{Mod.ModDirectoryName}/")</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="pb-1">Last Updated:</td>
                            <td class="pb-1 pl-3">
                                <strong>@(Mod.IsWorkshopMod ? "N/A" : Mod.LastUpdated == default ? "Not on Steam Workshop" : Mod.LastUpdated.ToString("d MMMM yyyy 'at' h:mm tt"))</strong>
                            </td>
                        </tr>
                    </table>
                    <div class="row mt-10">
                        @if (!Mod.IsWorkshopMod)
                        {
                            <BrowseButton Icon="image"
                                          Text="Change Image"
                                          AllowedExtensions=".png"
                                          OnFileSelected="OnImageSelected"/>
                            <BrowseButton Icon="view_in_ar"
                                          Text="Change Model"
                                          AllowedExtensions=".fmd"
                                          BeforeFileLoaded="@(() => SetLoading("Loading Data"))"
                                          OnFileSelected="OnModelSelected"
                                          CssClass="ml-3"/>
                        }

                        @if (!IsNew && !Mod.IsWorkshopMod)
                        {
                            <Button Icon="upload" Text="Upload to Workshop" OnClick="Upload" CssClass="ml-3"/>
                            <Button Icon="delete_forever" Text="Delete" OnClick="Delete" CssClass="ml-3"/>
                        }
                    </div>
                </div>
            </div>

            <div class="box mt-6">
                <EditForm Model="Stats">
                    <div class="p-4">
                        <table class="w-full right-align-all-labels">
                            <tr>
                                <td>
                                    <label>IN-GAME TITLE</label>
                                </td>
                                <td colspan="7" class="pl-4">
                                    <Textbox Size="Textbox.Variant.Stretch" @bind-Value="Mod.GameMenuTitle"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>DESCRIPTION</label>
                                </td>
                                <td colspan="7" class="pl-4">
                                    <Textbox Rows="3" Size="Textbox.Variant.Stretch" @bind-Value="Mod.Description"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-2">
                                    <label>TARGET</label>
                                </td>
                                <td class="py-2 pl-4" colspan="3">
                                    <EnumSelect @bind-Value="Mod.Target"/>
                                </td>
                                <td class="py-2">
                                    <label>MAX HP</label>
                                </td>
                                <td class="py-2">
                                    <NumberBox @bind-Value="Stats.MaxHp"/>
                                </td>
                                <td class="py-2">
                                    <label>MAX MP</label>
                                </td>
                                <td class="py-2">
                                    <NumberBox @bind-Value="Stats.MaxMp"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>STRENGTH</label>
                                </td>
                                <td>
                                    <NumberBox @bind-Value="Stats.Strength"/>
                                </td>
                                <td>
                                    <label>VITALITY</label>
                                </td>
                                <td>
                                    <NumberBox @bind-Value="Stats.Vitality"/>
                                </td>
                                <td>
                                    <label>MAGIC</label>
                                </td>
                                <td>
                                    <NumberBox @bind-Value="Stats.Magic"/>
                                </td>
                                <td>
                                    <label>SPIRIT</label>
                                </td>
                                <td>
                                    <NumberBox @bind-Value="Stats.Spirit"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>FIRE RES</label>
                                </td>
                                <td>
                                    <NumberBox Max="100" @bind-Value="Stats.Fire"/>
                                </td>
                                <td>
                                    <label>ICE RES</label>
                                </td>
                                <td>
                                    <NumberBox Max="100" @bind-Value="Stats.Ice"/>
                                </td>
                                <td>
                                    <label>THUNDER RES</label>
                                </td>
                                <td>
                                    <NumberBox Max="100" @bind-Value="Stats.Thunder"/>
                                </td>
                                <td>
                                    <label>DARK RES</label>
                                </td>
                                <td>
                                    <NumberBox Max="100" @bind-Value="Stats.Dark"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>BALLISTIC RES</label>
                                </td>
                                <td>
                                    <NumberBox Max="100" @bind-Value="Stats.Ballistic"/>
                                </td>
                                <td class="pt-2">
                                    <label class="@(StatsTotal <= 100 ? "" : "text-error")">@StatsTotal/100</label>
                                </td>
                                <td colspan="5" class="pl-4 pt-2">
                                    <div class="bg-black">
                                        <div class="@(StatsTotal <= 100 ? "bg-accent1-200" : "bg-error")" style="width: @(StatsTotal <= 0 ? "0" : StatsTotal > 100 ? "100" : StatsTotal.ToString())%">&nbsp;</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </EditForm>
            </div>
        }
    </div>
</LoadingView>

@code
{
    private Binmod Mod { get; set; }
    private StatsModel Stats { get; set; }
    private string PreviewBase64 { get; set; }
    private bool IsNew { get; set; }
    private bool HasModelData { get; set; }
    private byte[] ModelData { get; set; }
    private bool ImageHasChanged { get; set; }
    private string LoadingText { get; set; }
    private bool IsLoading { get; set; }
    private int StatsTotal { get; set; }
    private string ImageName { get; set; } = "current_preview";

    protected override void OnInitialized()
    {
        Mod = AppState.ActiveMod?.Clone();

        if (Mod == null)
        {
            InitializeNewMod();
        }
        else
        {
            InitializeExistingMod();
        }

        File.WriteAllBytes($"{IOHelper.GetExecutingDirectory()}\\wwwroot\\images\\current_preview.png", Mod.PreviewBytes);

        Stats = new StatsModel(Mod, () =>
        {
            StatsTotal = (int)(
                (Stats.MaxHp ?? 0) * 0.2
                + (Stats.MaxMp ?? 0) * 0.2
                + (Stats.Strength ?? 0) * 0.2
                + (Stats.Vitality ?? 0) * 0.2
                + (Stats.Magic ?? 0) * 0.2
                + (Stats.Spirit ?? 0) * 0.2
                + Stats.Fire ?? 0
                + Stats.Ice ?? 0
                + Stats.Thunder ?? 0
                + Stats.Dark ?? 0
                + Stats.Ballistic ?? 0);
            StateHasChanged();
        });
    }

    private void SetLoading(string text)
    {
        LoadingText = text;
        IsLoading = true;
        StateHasChanged();
    }

    private void InitializeNewMod()
    {
        IsNew = true;

        var previewImage = File.ReadAllBytes($"{IOHelper.GetExecutingDirectory()}\\Resources\\preview.png");
        PreviewBase64 = Convert.ToBase64String(previewImage);

        Mod = new Binmod
        {
            GameMenuTitle = "New Mod",
            Uuid = Guid.NewGuid().ToString(),
            PreviewBytes = previewImage
        };

        Mod.Path = $"{Settings.ModDirectory}\\{Mod.Uuid}.ffxvbinmod";
    }

    private void InitializeExistingMod()
    {
        PreviewBase64 = Convert.ToBase64String(Mod.PreviewBytes);
        HasModelData = true;
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/");
    }

    private async void OnImageSelected(InMemoryFile file)
    {
        PreviewBase64 = Convert.ToBase64String(file.Data);
        await File.WriteAllBytesAsync($"{IOHelper.GetExecutingDirectory()}\\wwwroot\\images\\current_preview.png", file.Data);
        ImageHasChanged = true;

    // This jank is required or the UI won't update the image if the value hasn't changed
        ImageName = ImageName == "current_preview" ? "Current_Preview" : "current_preview";

    // This appears to call weirdly and so needs InvokeAsync or it won't update either
        await InvokeAsync(StateHasChanged);
    }

    private void OnModelSelected(InMemoryFile file)
    {
        Mod.ModDirectoryName = Mod.Uuid;
        Mod.ModelName = $"mod_{Mod.Uuid}";

        ModelData = file.Data;
        HasModelData = true;
        IsLoading = false;
        StateHasChanged();
    }

    private void Delete()
    {
        SetLoading("Deleting Mod");

        AppState.Mods.Remove(AppState.ActiveMod);
        AppState.UpdateBinmodList();
        File.Delete(Mod.Path);

        Navigation.NavigateTo("/");
    }

    private void Save()
    {
        File.WriteAllBytes($"{IOHelper.GetExecutingDirectory()}\\wwwroot\\images\\{Mod.Uuid}.png", Convert.FromBase64String(PreviewBase64));

        if (ModelData == null)
        {
            SetLoading("Saving");
            SaveAsync();
            return;
        }

        SetLoading("Building Mod");
        BuildAsync();
    }

    private async void SaveAsync()
    {
        await Task.Run(() =>
        {
            var unpacker = new Unpacker(Mod.Path);
            var packer = unpacker.ToPacker();
            packer.UpdateFile("index.modmeta", Mod.ToModmeta());

            if (ImageHasChanged)
            {
                var tempFile = Path.GetTempFileName();
                var tempFile2 = Path.GetTempFileName();
                var png = Convert.FromBase64String(PreviewBase64);
                File.WriteAllBytes(tempFile, png);
                BtexConverter.Convert(Settings.BTexConverterPath, tempFile, tempFile2, BtexConverter.TextureType.Color);
                var btex = File.ReadAllBytes(tempFile2);

                packer.UpdateFile("preview.png.bin", png);
                packer.UpdateFile("preview.btex", btex);
                Mod.PreviewBytes = png;
            }

            packer.WriteToFile(Mod.Path);

            AppState.ActiveMod.UpdateFrom(Mod);
            Navigation.NavigateTo("/");
        });
    }

    private async void BuildAsync()
    {
        await Task.Run(() =>
        {
            var builder = new BinmodBuilder(Settings.BTexConverterPath, Mod, Convert.FromBase64String(PreviewBase64));
            builder.AddFmd(Settings.BTexConverterPath, ModelData, Settings.GameDataDirectory);
            builder.WriteToFile(Mod.Path);

            Mod.IsApplyToGame = true;

            if (Mod.Index == 0)
            {
                var modList = ModlistEntry.FromFile(Settings.BinmodListPath).ToList();
                Mod.Index = modList.Count > 1 ? modList.Max(m => m.Index) + 1 : 100000;
            }

            if (AppState.ActiveMod == null)
            {
                AppState.Mods.Add(Mod);
            }
            else
            {
                AppState.ActiveMod.UpdateFrom(Mod);
            }

            AppState.UpdateBinmodList();
            Navigation.NavigateTo("/");
        });
    }

    private void Upload()
    {
        Navigation.NavigateTo("/mod/upload");
    }

    private class StatsModel
    {
        private readonly Binmod _mod;
        private readonly Action _onChange;
        private int? _ballistic;

        private int? _dark;

        private int? _fire;

        private int? _ice;

        private int? _magic;

        private int? _maxHp;

        private int? _maxMp;

        private int? _spirit;

        private int? _strength;

        private int? _thunder;

        private int? _vitality;

        public StatsModel(Binmod mod, Action onChange)
        {
            _mod = mod;
            _onChange = onChange;

            _maxHp = mod.MaxHp;
            _maxMp = mod.MaxMp;
            _strength = mod.Strength;
            _vitality = mod.Vitality;
            _magic = mod.Magic;
            _spirit = mod.Spirit;
            _fire = mod.Fire;
            _ice = mod.Ice;
            _thunder = mod.Thunder;
            _dark = mod.Dark;
            _ballistic = mod.Ballistic;
        }

        public int? MaxHp
        {
            get => _maxHp;
            set
            {
                _maxHp = value;
                _mod.MaxHp = value ?? 0;
                _onChange();
            }
        }

        public int? MaxMp
        {
            get => _maxMp;
            set
            {
                _maxMp = value;
                _mod.MaxMp = value ?? 0;
                _onChange();
            }
        }

        public int? Strength
        {
            get => _strength;
            set
            {
                _strength = value;
                _mod.Strength = value ?? 0;
                _onChange();
            }
        }

        public int? Vitality
        {
            get => _vitality;
            set
            {
                _vitality = value;
                _mod.Vitality = value ?? 0;
                _onChange();
            }
        }

        public int? Magic
        {
            get => _magic;
            set
            {
                _magic = value;
                _mod.Magic = value ?? 0;
                _onChange();
            }
        }

        public int? Spirit
        {
            get => _spirit;
            set
            {
                _spirit = value;
                _mod.Spirit = value ?? 0;
                _onChange();
            }
        }

        public int? Fire
        {
            get => _fire;
            set
            {
                _fire = value;
                _mod.Fire = value ?? 0;
                _onChange();
            }
        }

        public int? Ice
        {
            get => _ice;
            set
            {
                _ice = value;
                _mod.Ice = value ?? 0;
                _onChange();
            }
        }

        public int? Thunder
        {
            get => _thunder;
            set
            {
                _thunder = value;
                _mod.Thunder = value ?? 0;
                _onChange();
            }
        }

        public int? Dark
        {
            get => _dark;
            set
            {
                _dark = value;
                _mod.Dark = value ?? 0;
                _onChange();
            }
        }

        public int? Ballistic
        {
            get => _ballistic;
            set
            {
                _ballistic = value;
                _mod.Ballistic = value ?? 0;
                _onChange();
            }
        }
    }
}