@page "/mod/configure"
@page "/mod/configure/{NavigationParameter}"
@using Flagrum.Core.Archive

<CascadingValue Value="this">
    <LoadingView Text="@LoadingText"
                 IsLoading="@IsLoading">
        <div class="p-6">

            <div class="box row p-4">
                <span class="flex-grow">@(IsNew ? "New Mod" : Mod.GameMenuTitle ?? Mod.WorkshopTitle)</span>
                <Button Icon="save" Text="Save" OnClick="Save" IsDisabled="@(!CanSave || StatsTotal > 100)"/>
                <Button Icon="cancel" Text="Cancel" CssClass="ml-3" OnClick="Cancel"/>
            </div>

            @if (!CanSave)
            {
                <div class="row mt-6">
                    <div class="box row p-4 flex-grow @(Mod.Type == (int)BinmodType.Character && Mod.Target < 0 ? "" : "mr-3")">
                        <label class="inline-block mr-3">TYPE</label>
                        <IntSelect @bind-Value="Mod.Type" Values="ModTypes" OnChange="ModTypeChanged"/>
                    </div>
                    @if (Mod.Type != (int)BinmodType.Character)
                    {
                        <div class="box row p-4 ml-3 flex-grow">
                            <label class="inline-block mr-3">TARGET</label>
                            <IntSelect @bind-Value="Mod.Target" Values="ModTargets" OnChange="ModTargetChanged" Placeholder="-- Select Target --"/>
                        </div>
                    }
                    else if (Mod.Target > -1)
                    {
                        <div class="box row p-4 ml-3 flex-grow">
                            <label class="inline-block mr-3">TARGET</label>
                            <span class="flex-grow input mr-3">@ModelReplacementPresetName</span>
                            <span class="material-icons cursor-pointer" @onclick="() => Mod.Target = -1">clear</span>
                        </div>
                    }
                    else
                    {
                        <div class="box row p-4 ml-3">
                            <Button Icon="add" Text="Create New Preset" OnClick="@(() => Navigation.NavigateTo("/mod/presets"))"/>
                        </div>
                    }

                    @if (Mod.Type == (int)BinmodType.StyleEdit)
                    {
                        <div class="box row p-4 ml-6 flex-grow">
                            <label class="inline-block mr-3">VARIANT</label>
                            <select value="@Mod.Gender"
                                    @onchange="VariantChanged"
                                    class="input bg-dark-550 w-full">
                                <option value="">-- Select Variant --</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                        </div>
                    }
                </div>

                @if (Mod.Type == (int)BinmodType.Character && Mod.Target < 0)
                {
                    <ModelReplacements/>
                }

                @if (Mod.Target > -1 && (Mod.Type != (int)BinmodType.StyleEdit || !string.IsNullOrEmpty(Mod.Gender)))
                {
                    @if (ModelCount == 1)
                    {
                        <div class="box row p-4 mt-6">
                            <span class="flex-grow">
                                Select FMD file with your model data
                            </span>
                            <Button Icon="folder"
                                    Text="Browse"
                                    OnClick="() => SelectModel(0)"/>
                        </div>
                    }
                    else
                    {
                        <div class="box row p-4 mt-6">
                            <span class="flex-grow">
                                @(FmdFileNames[0] == null ? $"Select FMD file for {ModelNames[0]} model" : FmdFileNames[0])
                            </span>
                            <Button Icon="folder"
                                    Text="Browse"
                                    OnClick="() => SelectModel(0)"/>
                        </div>
                        <div class="box row p-4 mt-6">
                            <span class="flex-grow">
                                @(FmdFileNames[1] == null ? $"Select FMD file for {ModelNames[1]} model" : FmdFileNames[1])
                            </span>
                            <Button Icon="folder"
                                    Text="Browse"
                                    OnClick="() => SelectModel(1)"/>
                        </div>
                    }
                }
            }
            else
            {
                <div class="box row p-5 mt-6">
                    <img style="display:block;width:175px;height:175px;" src="images/@(ImageName).png"/>
                    <div class="flex-grow pl-6">
                        <table>
                            <tr>
                                <td class="pb-1">Mod Type:</td>
                                <td class="pb-1 pl-3">
                                    <strong>@BinmodTypeHelper.GetDisplayName((BinmodType)Mod.Type)</strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-1">Mod Target:</td>
                                <td class="pb-1 pl-3">
                                    <strong>@BinmodTypeHelper.GetTargetName(Mod.Type, Mod.Target)</strong>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-1">UUID:</td>
                                <td class="pb-1 pl-3">
                                    <strong>@Mod.Uuid</strong>
                                </td>
                            </tr>
                        </table>
                        <div class="row @(Mod.IsWorkshopMod ? "mt-20" : "mt-14")">
                            @if (!Mod.IsWorkshopMod)
                            {
                                <Button Icon="image"
                                        Text="Change Image"
                                        OnClickAsync="SelectImage"/>
                                @if (Mod.Type == (int)BinmodType.StyleEdit)
                                {
                                    <Button Icon="image"
                                            Text="Change Thumbnail"
                                            OnClickAsync="SelectThumbnail"
                                            CssClass="ml-3"/>
                                }
                                @if (ModelCount == 1)
                                {
                                    <Button Icon="view_in_ar"
                                            Text="Change Model"
                                            OnClick="() => SelectModel(0)"
                                            CssClass="ml-3"/>
                                }
                                else
                                {
                                    <Button Icon="view_in_ar"
                                            Text=@($"Change {ModelNames[0]} Model")
                                            OnClick="() => SelectModel(0)"
                                            CssClass="ml-3"/>
                                    <Button Icon="view_in_ar"
                                            Text=@($"Change {ModelNames[1]} Model")
                                            OnClick="() => SelectModel(1)"
                                            CssClass="ml-3"/>
                                }
                            }

                            @if (!IsNew && !Mod.IsWorkshopMod)
                            {
                                <Button Icon="upload" Text="Upload to Workshop" OnClick="Upload" CssClass="ml-3"/>
                                <Button Icon="delete_forever" Text="Delete" OnClick="Delete" CssClass="ml-3"/>
                            }
                        </div>
                    </div>
                    @if (Mod.Type == (int)BinmodType.StyleEdit)
                    {
                        <img style="display:block;width:121px;height:175px;" src="images/@(ThumbnailName).png"/>
                    }
                </div>
                @if (Mod.Type == (int)BinmodType.Cloth)
                {
                    <Outfit/>
                }
                else if (Mod.Type is (int)BinmodType.Weapon or (int)BinmodType.Multi_Weapon)
                {
                    <Weapon/>
                }
                else if (Mod.Type == (int)BinmodType.StyleEdit)
                {
                    <StyleEdit/>
                }
                else
                {
                    <Replacement/>
                }
            }
        </div>
    </LoadingView>
</CascadingValue>

<PromptModal Title="Delete Mod"
             @ref="DeleteModal"
             Heading="Are you sure?"
             Subtext="This action cannot be undone!"
             YesText="Delete"
             NoText="Cancel"
             OnYes="OnDelete"/>