@foreach (var line in Markdown.Split("\r\n"))
{
    if (line.StartsWith("######"))
    {
        <h6>@line.Substring(2)</h6>
    }
    else if (line.StartsWith("#####"))
    {
        <h5>@line.Substring(2)</h5>
    }
    else if (line.StartsWith("####"))
    {
        <h4>@line.Substring(2)</h4>
    }
    else if (line.StartsWith("###"))
    {
        <h3>@line.Substring(2)</h3>
    }
    else if (line.StartsWith("##"))
    {
        <h2>@line.Substring(2)</h2>
    }
    else if (line.StartsWith('#'))
    {
        <h1>@line.Substring(2)</h1>
    }
}

@code
{
    private string Markdown { get; set; }
}